In [1]:
import pandas as pd

In [2]:
df_audience = pd.read_excel('Данные для тестового задания.xlsx', sheet_name='Данные об аудитории')
df_audience.head()

        date                               user_id  view_adverts
0 2023-11-11  8c020470-8461-11ed-83d0-552e8cc749d6            13
1 2023-11-18  5875f070-7b92-11ee-a6fb-8b298e83f4f7            14
2 2023-11-29  3c2d27c0-4fd6-11eb-b89f-2ffb31b67dd6            21
3 2023-11-29  234a96d0-ad16-11ed-a2e6-793ddfeeba1f            23
4 2023-11-29  4d07c180-644f-11eb-879c-b7c02edf4f37            12

In [3]:
df_audience['date'] = pd.to_datetime(df_audience['date'])

In [4]:
november_df = df_audience[
    (df_audience['date'].dt.month == 11) & 
    (df_audience['date'].dt.year == 2023)
]

In [5]:
mau = november_df['user_id'].nunique()
print(f'MAU за ноябрь 2023: {mau}')

MAU за ноябрь 2023: 7639

In [6]:
#2

In [7]:
dau_per_day = november_df.groupby('date')['user_id'].nunique()
print(dau_per_day.head())

date
2023-11-01    623
2023-11-02    649
2023-11-03    573
2023-11-04    343
2023-11-05    350
Name: user_id, dtype: int64

In [8]:
average_dau = dau_per_day.mean()
print(round(average_dau))

560

In [9]:
round(dau_per_day.mean())

560

In [10]:
#3

In [11]:
users_1_nov = november_df[november_df['date'] == '2023-11-01']['user_id'].unique()
users_1_nov_set = set(users_1_nov)

users_2_nov = november_df[november_df['date'] == '2023-11-02']['user_id'].unique()
users_2_nov_set = set(users_2_nov)

retained_users = users_1_nov_set & users_2_nov_set

retention_d1 = len(retained_users) / len(users_1_nov) * 100
print(f"D1 Retention: {round(retention_d1, 1)}%")

D1 Retention: 26.6%

In [12]:
#5

In [13]:
total_users = november_df['user_id'].nunique()
converted_users = november_df[november_df['view_adverts'] > 0]['user_id'].nunique()
conversion_rate = converted_users / total_users * 100
print(f'Пользовательская конверсия: {round(conversion_rate, 1)}%')

Пользовательская конверсия: 46.3%

In [14]:
#6

In [15]:
total_views = november_df['view_adverts'].sum()
unique_users = november_df['user_id'].nunique()
average_views = total_views / unique_users
print(f'Среднее количество просмотров: {round(average_views, 1)}')

Среднее количество просмотров: 2.9

In [16]:
#7

In [17]:
promoters = 1200
passives = 300
detractors = 500
total = 2000

nps = ((promoters / total) - (detractors / total)) * 100
print(f'NPS: {round(nps)}%')

NPS: 35%

In [18]:
#8

In [24]:
import pandas as pd

df_ab = pd.read_excel('Данные для тестового задания.xlsx', sheet_name='Данные АБ тестов')
df_ab.head()

   experiment_num experiment_group   user_id  revenue
0               1             test     38456      520
1               1          control  13125924      806
2               1          control   9761984        0
3               1             test  11387012      208
4               1             test  18319648      104

In [25]:
from scipy.stats import ttest_ind

for exp_num in df_ab['experiment_num'].unique():
    df_exp = df_ab[df_ab['experiment_num'] == exp_num]
    
    test_group = df_exp[df_exp['experiment_group'] == 'test']['revenue']
    control_group = df_exp[df_exp['experiment_group'] == 'control']['revenue']
    
    arpu_test = test_group.mean()
    arpu_control = control_group.mean()
    
    stat, p_value = ttest_ind(test_group, control_group, equal_var=False)
    
    print(f'Эксперимент {exp_num}:')
    print(f'  ARPU test:    {arpu_test:.2f}')
    print(f'  ARPU control: {arpu_control:.2f}')
    print(f'  p-value:      {p_value:.4f}')
    print('  Вывод:', 'Различия статистически значимы ✅' if p_value < 0.05 else 'Различия НЕзначимы ❌')
    print()

Эксперимент 1:
  ARPU test:    665.74
  ARPU control: 722.46
  p-value:      0.6890
  Вывод: Различия НЕзначимы ❌

Эксперимент 2:
  ARPU test:    332.93
  ARPU control: 704.65
  p-value:      0.0011
  Вывод: Различия статистически значимы ✅

Эксперимент 3:
  ARPU test:    998.67
  ARPU control: 663.21
  p-value:      0.0603
  Вывод: Различия НЕзначимы ❌

In [26]:
#9

In [27]:
df_listers = pd.read_excel('Данные для тестового задания.xlsx', sheet_name='Листеры')
df_listers.head()

   user_id       date  cnt_adverts  age  cnt_contacts  revenue
0      100 2022-01-01            6   21           119       53
1      100 2022-01-02            2   21           200       18
2      100 2022-01-03            6   21           193       42
3      100 2022-01-04            2   21           143       38
4      100 2022-01-05            2   21           190       40

In [28]:
average_income = df_listers['revenue'].sum() / df_listers['user_id'].nunique()
print(round(average_income, 1))

156.5

In [29]:
#10

In [30]:
df_listers = pd.read_excel('Данные для тестового задания.xlsx', sheet_name='Листеры')

In [31]:
df_listers.columns

Index(['user_id', 'date', 'cnt_adverts', 'age', 'cnt_contacts', 'revenue'], dtype='object')

In [32]:
median_age = df_listers['age'].median()
print(round(median_age, 2))

28.0

In [33]:
#18

In [35]:
conv_A = 1003 / 100047501
conv_B = 1099 / 100001055

print(f"Конверсия A: {conv_A:.8f} ({conv_A*100:.6f}%)")
print(f"Конверсия B: {conv_B:.8f} ({conv_B*100:.6f}%)")

Конверсия A: 0.00001003 (0.001003%)
Конверсия B: 0.00001099 (0.001099%)

In [36]:
from statsmodels.stats.proportion import proportions_ztest
successes = [1003, 1099]
n_obs = [100047501, 100001055]
z_stat, p_val = proportions_ztest(successes, n_obs)

print(f"Z-статистика: {z_stat:.4f}")
print(f"P-value: {p_val:.6f}")

Z-статистика: -2.1046
P-value: 0.035330